<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Fill the form</h1>
    <form action="/gethere" method="POST">
        Name: <input type="text" name="name">
        Reg. No: <input type="text" name="regno">
        <button type="submit" value="login">  Submit  </button>
        <button type="reset">Reset</button>
    </form>
    <button href="/">Home</button>
</body>
</html>